$bg-color: #555;
h1, h2, h3, h4, h4, h5, p, figure, ul, div {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    &:visited,
    &:link {
        color: #000;
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Yu Gothic", sans-serif;
    font-weight: normal;
}
strong {
    font-weight: 600;
}
body {
    width: 250mm;
    overflow-x: hidden;
    margin: 0;
    font-size: 20px;
    font-family: "Yu Mincho", serif;
    font-weight: 200;
    background-color: #fff;
}
#view_wrapper {
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
}
#view {
    width: 100%;
    margin: 0 auto;
}
.page-num {
    position: relative;
    text-align: center;
    //border: 1px #555 solid;
    page-break-inside: avoid;
    page-break-after: always;
}

.page-num div {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 50px;
    padding-bottom: 55px;
    &:before {
        content: attr(data-num);
        padding-right: 1em;
    }
    &.bib {
        margin-bottom: 0;
    }
    &.bib:before {
        content: '';
        padding-right: 0;
    }
    &.bib+ul {
        padding: 0;
        list-style: none;
        
        li {
            position: relative;
            padding-left: 40px;
            padding-bottom: 5px;
        }
        li:before{
            position: absolute;
            left: 0px;
            content: attr(data-num);
        }
    }
}
h2 {
    font-size: 35px;
    padding-bottom: 20px;
    &:before {
        content: attr(data-num);
        padding-right: 1em;
    }
}

h3 {
    font-size: 30px;
    padding-bottom: 20px;
    &:before {
        content: attr(data-num);
        padding-right: 1em;
    }
}

figure {
    padding-bottom: 20px;
    text-align: center;
    img {
        text-align: center;
    }
    figcaption {
        text-align: center;
    }
    &.image {
        figcaption:before {
            content: "図"attr(data-num)"：";
            padding-right: 1em;
        }
    }
    &.table {
        figcaption {
            vertical-align: middle;
            padding-bottom: 5px;
        }
        figcaption:before {
            content: "表"attr(data-num)"：";
            padding-right: 1em;
        }
    }
    
}

table {
    margin: 0 auto;
    margin-bottom: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-collapse: collapse;
}
thead {
    display: table-row-group;
    border-bottom: 1px solid #000;
}
tr th {
    padding: 3px 10px;
    font-weight: 300;
}
tr td {
    padding: 3px 10px;
}
tbody tr:first-child td {
    padding-top: 8px;
}
tbody tr:last-child td {
     padding-bottom: 8px;
}

ul {
    padding-bottom: 20px;
}
p {
    text-indent: 1em;
    line-height: 1.8;
    padding-bottom: 20px;
}

#front_cover {
    font-family: "Yu Mincho", serif;
    text-align: center;
    font-size: 25px;
    
    .category {
        padding-top: 100px;
        padding-bottom: 180px;
    }
    h1 {
        font-size: 35px;
        font-family: "Yu Mincho", serif;
        padding-bottom: 15px;
    }
    h2 {
        font-family: "Yu Mincho", serif;
        font-style: italic;
        padding-bottom: 250px;
    }
    .department {
        padding-bottom: 20px;
    }
    .name {
        padding-bottom: 20px;
    }
    .teach {
        padding-bottom: 20px;
    }
    .date {
        padding-bottom: 0px;
    }
}

h1.page_index {
    padding-left: 0;
    padding-bottom: 20px;
    &:before {
        display: none;
    }
}
ol.page_index {
    list-style-type: none;
    color: #000;
    margin: 0;
    padding: 0;
}
ol.page_index li.chapter {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    padding-top: 10px;
    &:before {
        text-align: right;
        display: inline-block;
        content: attr(data-num);
        width: 3rem;
        padding-right: 1rem;
    }
    &:after {
        position: absolute;
        right: 0px;
        content: attr(data-page);
        text-align: right;
    }
}
ol.page_index li.section {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1.6rem;
    opacity: 1;
    &:before {
        text-align: right;
        display: inline-block;
        content: attr(data-num);
        width: 3rem;
        padding-right: 1rem;
    }
    &:after {
        position: absolute;
        right: 0px;
        content: attr(data-page);
        text-align: right;
    }
}
ol.page_index li.subsection {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 1.5rem;
    padding-left: 4rem;
    &:before {
        text-align: left;
        display: inline-block;
        content: attr(data-num);
        width: 3rem;
        padding-right: 1rem;
    }
    &:after {
        position: absolute;
        right: 4rem;
        content: attr(data-page);
        text-align: right;
    }
}

hr {
    margin: 0;
    border: none;
    
}

.eq+p, figure+p, ul+p .page-num+p {
    text-indent: 0;
}

.node rect, .node circle {
    fill: rgb(255, 255, 255) !important;
    stroke: rgb(71, 148, 148) !important;
    stroke-width: 3px !important;
    rx: 3 !important;
    ry: 3 !important;
}
.edgePath .path {
    stroke: rgb(71, 148, 148) !important;
}

@page {
    size: A4;
    margin: 25.5mm 20mm 17.5mm;
}