<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../node_modules/mermaid/dist/mermaid.min.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            displayAlign: "center",
            styles: {
                '.MathJax_Display': {
                    margin: '0 !important',
                    'padding-bottom': '20px'
                }
            },
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
            CommonHTML: {
                matchFontHeight: false,
                scale: 300
            },
            "HTML-CSS": {
                //availableFonts: [],
                //preferredFont: null,
                //webFont: "Neo-Euler",
                scale: 100
            },
            skipStartupTypeset: true,
            TeX: {
                equationNumbers: {
                    autoNumber: 'AMS',
                    formatTag: function (n) {
                        if(this.chapterNum != n){
                            this.eqNum = 0;
                            this.chapterNum = n;
                        }
                        this.eqNum += 1;
                        
                        return '(' + n + '.' + this.eqNum + ')';
                    },
                    formatID: function(id) {
                        return 'eq-'+String(id).replace(/[:'"<>&]/g,"")
                    },
                    useLabelIds: true,
                    chapterNum: '1',
                    eqNum: 0
                },
                Macros: {
                  C: '{\\mathbb C}',
                  R: '{\\mathbb R}',
                  Q: '{\\mathbb Q}',
                  Z: '{\\mathbb Z}',
                  diag: '\\mathop{\\mathrm{diag}}\\nolimits',
                  np: ['{#1}#2{#1}', 2],
                  indep: '\\mathop{\\perp\\mspace{-7mu}\\perp}'
                }
            }
        });
    </script>
    <script type="text/javascript" src="../node_modules/mathjax/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="./dist/js/bundle.js"></script>

    <link rel="stylesheet" href="./dist/css/style.css">
    <link rel="stylesheet" href="../node_modules/mermaid/dist/mermaid.forest.css">
</head>
<body>
   <div id="view_wrapper" src="./manual.md">
       <div id="view"></div>
   </div>
</body>
</html>