<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../node_modules/mermaid/dist/mermaid.min.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            styles: {
                '.MathJax_Display': {
                    margin: '0 !important',
                    'padding-bottom': '20px'
                }
            },
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
            CommonHTML: { matchFontHeight: false },
            skipStartupTypeset: true,
            TeX: {
                equationNumbers: {
                    autoNumber: 'AMS',
                    formatTag: function (n) {
                        if(this.chapterNum != n){
                            this.eqNum = 0;
                            this.chapterNum = n;
                        }
                        
                        this.eqNum += 1;
                        
                        return '(' + n + '.' + this.eqNum + ')';
                    },
                    useLabelIds: true,
                    chapterNum: '1',
                    eqNum: 0
                }
            }
        });
    </script>
    <script type="text/javascript" src="../node_modules/mathjax/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="./dist/js/bundle.js"></script>

    <link rel="stylesheet" href="./dist/css/style.css">
    <link rel="stylesheet" href="../node_modules/mermaid/dist/mermaid.forest.css">
</head>
<body>
   <div id="view_wrapper" src="./manual.md">
       <div id="view"></div>
   </div>
</body>
</html>